* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

:root {
  --secondary-color: #e2cfea;
  /* --secondary-color:  #9DC0BC */
  /* 0E9594 */

  /* #F9F9F9
  #F9EBE0 !
  
  */
}
